.songs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgba(42, 42, 42, 1);
}
.song{
    max-width: 300px;
    padding: 10px;
    justify-content: center;
}
.songInfo{
    justify-content: space-between;
    margin: 10px;
}

.scrollv{
    overflow-y: scroll;
    height: 360px;
    width: 100%;
    max-width: fit-content;
    margin: auto;
    background-color: rgb(0, 0, 0, 0%) !important;
    z-index: 1;
}

.header{
    background-color: rgb(0, 0, 0, 0%) !important;
}
.button{
    display: contents!important;
    margin-left: 10em !important;
}

.image{
    border-radius: 50% !important;

}

.table1{
    background-color: rgb(0, 0, 0, 0%) !important;
}
.player1, .player2{
    max-width: contents;
    position: absolute;
}
.player1{
    display: none !important;
}

.image:hover{
    z-index: -1;
}

